.dropdown
    position: relative
    display: inline-flex
    &:hover
        .dropdown-menu
            display: block

.dropdown-toggler
    @include button(white, $color: $black, $boxShadowColor: $blue, $borderColor: $grey)
    border-radius: $jac-border-radius-small
    @include padding($jac-padding-base, $jac-padding-2)
    display: inline-block
    vertical-align: baseline
    font-weight: 300
    &:hover,
    &:active,
    &:focus
        border-color: get-shade($grey)
        background-color: transparent
        + .dropdown-menu
            display: block

.dropdown-menu
    display: none
    position: absolute
    min-width: 14rem
    top: 100%
    left: 0
    @include padding-single(top, $jac-padding-base)

.dropdown-content
    @include border($grey-light)
    @include padding($jac-padding-1)
    background-color: white
    border-radius: $jac-border-radius-small
    @extend .z1
    

.dropdown-item:not(:last-of-type)
    @include margin-single(bottom, $jac-margin-base)

.dropdown--push
    &-start
        .dropdown-menu
            right: end
            left: 0
    &-end
        .dropdown-menu
            left: auto
            right: 0

@each $breakpoint in map-keys($screen-breakpoints)
    $infix: breakpoint-infix($breakpoint)
    @include media-breakpoint-up($breakpoint, $screen-breakpoints)
        .dropdown--push
            &-start-#{$infix}
                .dropdown-menu
                    right: end
                    left: 0
            &-end-#{$infix}
                .dropdown-menu
                    left: auto
                    right: 0
