=button($backgroundColor, $color: null)
    background-color: $backgroundColor
    border: $jac-button-border-width solid $backgroundColor
    @if $color
        color: $color
    @else
        color: getContrast($backgroundColor)
    &:active
        background-color: darken($backgroundColor, 10%)
    &:hover,
    &:focus
        border-color: $backgroundColor
        background-color: darken($backgroundColor, 5%)
    &:focus
        outline: none
        box-shadow: 0 0 0 1px rgba($backgroundColor, .6)
    &.--outline
        color: $backgroundColor
        @if $button-outline-is-hoverable
            &:active,
            &:focus,
            &:hover
                color: getContrast($backgroundColor)
    &.--inverted
        color: $backgroundColor
        border-color: transparent
        &:hover,
        &:focus
            background-color: rgba($backgroundColor, .2)
        &:active
            background-color: rgba($backgroundColor, .3)
    &.--big
        &:focus
            box-shadow: 0 0 0 2px rgba($backgroundColor, .3)
    &.--large
        &:focus
            box-shadow: 0 0 0 3px rgba($backgroundColor, .3)